<div class="fixed top-0 right-0 left-0 bg-white z-50">
  <div class="container py-3">
  <div class="flex justify-between items-center">
    <div class="logo">
      <img src="https://fullstack.edu.vn/assets/f8-icon-lV2rGpF0.png" alt="">
    </div>

    <div class="search p-2 rounded-[20px] border">
      <button class="px-2">
        <i class="fa-regular fa-magnifying-glass"></i>
      </button>
      <input class="min-w-[400px] outline-0" type="text" placeholder="Tim kiem khoa hoc">
    </div>

    <div class="flex justify-center items-center gap-2">
        <a href="#" class="mr-4">
          <span>Khoa hoc cua toi</span>
        </a>
        <i class="fa-solid fa-bell"></i>
        <div class="avatar">
          <img src="https://www.woldswildlife.co.uk/images/uploads/activity_list_images/capybara-280x280_sOxg.jpg" alt="">
        </div>
    </div>
  </div>
</div>
<hr>
</div>
