<div class="pt-[100px] inline-block fixed left-0">
    <div class="container">
        <ul class="flex flex-col gap-2">
            <li>
                <a href="#" class="flex font-bold flex-col gap-2 items-center px-2 py-3 rounded-[10px] bg-slate-100 hover:bg-slate-100">
                    <i class="fa-regular fa-house"></i>
                    <span class="text-[12px]">Trang chu</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex font-bold flex-col gap-2 items-center px-2 py-3 rounded-[10px]  hover:bg-slate-100">
                    <i class="fa-thin fa-paste"></i>
                    <span class="text-[12px]">Lo trinh</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex font-bold flex-col gap-2 items-center px-2 py-3 rounded-[10px]  hover:bg-slate-100">
                    <i class="fa-light fa-pot-food"></i>
                    <span class="text-[12px]">Bai viet</span>
                </a>
            </li>
        </ul>
    </div>

</div>